body
{

}
p 
{
    margin: 20px 7px;
    word-break: break-word;
}
.entry-content
{
	width: 95%;
	margin:auto;
}
.entry-content > p:nth-child(1)
{
	font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
} 
div:nth-child(3) > p:nth-child(25),
div > p:nth-child(26),
div > p:nth-child(27),
span
{
display:none;
}
.collapseomatic_content
{
    margin: 10px;
    color: red;
}
.sf-mobile-ads,
.mobile-content,
.desktop-content,
.sf-nav-bottom,
strong,
u
{
    display: none;
}

/*@media  (min-width: 575.98px) 
{
p
{
		line-height: 50px;
}*/
}